{% extends 'base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% block body %}
    <h1>{{ entity.name }}</h1>

    <p>Precio: {{ entity.price|format_currency('EUR') }}</p>

    <a href="{{ path('app_product_index') }}">Volver a la lista</a>
{% endblock %}